@import '../../shared/styles/base.scss';
@import '../../shared/styles/fonts.scss';
@import '../../shared/styles/_variables.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.containerSignUp {
  max-width: 500px;
  height: 100%;
  border: 1px solid $border;
  border-radius: 10px;
}

.f1 {
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 40px);
  height: 50px;
  padding: 8px;
  border: 1px solid $border;
  border-radius: 4px;
  margin: 20px;
}

label {
  margin: 20px;
}

.button {
  width: calc(100% - 40px);
  height: 50px;
  color: $green;
  text-align: center;
  background: white;
  border: 1px solid rgb(16, 205, 123);
  border-radius: 4px;
  margin: 5px 20px 20px 20px;
  cursor: pointer;
}

.containerSignOut {
  max-width: 600px;
  min-height: 300px;
}

h3 {
  font-size: 26px;
  text-align: center;
}
p {
  font-size: 20px;
  text-align: center;
  margin: 6px;
}

.button:hover {
  box-shadow: 0 0 10px rgb(9, 242, 32);
}

.editUserBtn:hover {
  color: rgb(40, 243, 17);
  background: rgb(239, 244, 239);
  border-radius: 1px solid green;
}

input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.hide {
  display: none;
}

table {
  min-width: 600px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #323232;
  border-collapse: collapse;
}

th,
td {
  min-width: 60px;
  height: 40px;
  text-align: center;
  margin: 20px;
}

tr {
  height: 64px;
  margin: 20px;
}

.editBtn {
  width: 40px;
  height: 40px;
  color: rgb(10, 9, 9);
  text-align: center;
  background: rgb(231, 209, 13);
  border: 1px solid rgb(235, 202, 14);
  border-radius: 5px;
  cursor: pointer;
}

.deleteBtn {
  width: 70px;
  height: 40px;
  color: rgb(248, 246, 246);
  text-align: center;
  background: rgb(241, 62, 12);
  border: 1px solid rgb(241, 62, 12);
  border-radius: 5px;
  cursor: pointer;
}

.editBtn:hover {
  background-color: rgb(223, 181, 13);
}

.deleteBtn:hover {
  background-color: rgb(151, 14, 42);
}

.active {
  border: 2px solid #7ff5e9;
}
.wrong, .wrong:focus {
  border: 2px solid red;
}
