<section class="wrapper">
  <div class="card">
    <img src="../../assets/images/1.jpeg" class="img" alt="cenzor">
    <div class="card-body">
      <h5 class="card-title">Angular list of prohibited words</h5>
      <button class="button" [routerLink]="[ '/works/cenzor' ]">details</button>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/images/2.jpeg" class="img" alt="task">
    <div class="card-body">
      <h5 class="card-title">Angular users list</h5>
      <button class="button button2" [routerLink]="[ '/works/task-list' ]">details</button>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/images/3.jpeg" class="img" alt="user">
    <div class="card-body">
      <h5 class="card-title">Angular task list</h5>
      <button class="button button2" [routerLink]="[ '/works/user-list' ]">details</button>
    </div>
  </div>

</section>
